{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h1>Blog Posts...</h1>
<br/>

{% for blog in blogs %}
<div class="shadow p-3 mb-5 bg-body rounded" >

    <h2>{{ blog.title }}</h2>
    <small>By: {{ blog.author }}<br/>
    {{ blog.date_posted  }} </small><br/><br/>
    {{ blog.content }}<br/>
    <br/>
    <a href="{{ url_for('blog', id=blog.id) }}" class="btn btn-outline-secondary btn-sm">View Blog</a>

    <br/>
</div>
<br/>

{% endfor %}

{% endblock %}