{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h2>{{ blog.title }}</h2>
<br/>


<div class="shadow p-3 mb-5 bg-body rounded">

    
    <small>By: {{ blog.posting_user.name }}<br/>
    {{ blog.date_posted  }} </small><br/><br/>
    {{ blog.content|safe }}<br/> 
    <!-- {{ blog.id  }} -->
    <br/><br/>
    {{ blog.posting_user.about_author  }} </small><br/><br/>
    <br/>
</div>
<br/>

<a href="{{ url_for('blogs') }}" class="btn btn-outline-secondary btn-sm">All Blogs</a>

{% if current_user.id == blog.user_id %}
<a href="{{ url_for('edit_blog', id=blog.id) }}" class="btn btn-outline-secondary btn-sm">Edit Blog</a>
<a href="{{ url_for('delete_blog', id=blog.id) }}" class="btn btn-outline-danger btn-sm">Delete Blog</a>
{% endif %}
<br/>



{% endblock %}